:root {
  --red: #FF0346;
  --green: #02C08C;
  --bgColor: #121111;
  --infoColor: #191B20;
  --infoColorSelect: #272B32;
  --textColor: white;
}

body {
  background-color: var(--bgColor);
  height: 100%;
}

.settings {
  border: 5px solid var(--textColor);
  width: 80%;
  margin-left: 10%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.settingsItem {
  border: 5px solid var(--textColor);
 height: 48px;
 flex: 0 0 90%;
}

.settingsItem:hover {
  background-color: var(--infoColorSelect);
}

.dashboard {
  width: 80%;
  margin-left: 10%;
  background-color: var(--bgColor);
}

.coinInfo {
  width: 100%;
  height: 80vh;
  background-color: var(--red);
}

.coin, .options {
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--infoColor);
  text-align: left;
}

.coin:hover {
  background-color: var(--infoColorSelect);
}

a:hover {
  cursor: pointer;
}
.name {
  flex: 0 0 20%;

}

.options a, .coin a {
  width: 100%;
  text-align: inherit;
  line-height: 48px;
  height: 48px;
  font-size: 20px;
  color:var(--textColor);
  border: solid var(--bgColor);
  border-width: 3px 0 3px 0px;
}


img {
  height: 48px;
  width: 48px;
  border: solid var(--bgColor);
  border-width: 3px 0 3px 0px;
}


.coinInfo img{
  height: 408px;
  width: 480px;
  border: solid var(--bgColor);
  border-width: 3px 0 3px 0px;
}

canvas {
  width: 100%;
  height: 100%;
}

.full  {
  border: solid var(--textColor);
  border-width: 3px;;
  width: 65%;
  height: 35%;
}

.arrow-small  {
  border: solid var(--textColor);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
  text-align:center;
}

.arrow {
  border: solid var(--textColor);
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 10px;
  text-align:center;
  margin-top: 10px;
  margin-left: 19px;
}

.arrow:hover {
}

.next, .prev {
  width: 48px;
  text-align: center;
}

.next:hover, .prev:hover {
   background-color: var(--infoColorSelect);
}

.left {
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
}

.right {
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
