:root {
  --red: #FF0346;
  --green: #02C08C;
  --bgColor: #121111;
  --infoColor: #191B20;
  --infoColorSelect: #272B32;
  --textColor: #F6F5F2;
}

body {
  background-color: var(--bgColor);
  height: 100%;
  width: 100%;
}

.settings {
  border: 5px solid var(--textColor);
  width: 80%;
  margin-left: 10%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.settingsItem {
  border: 5px solid var(--textColor);
 height: 48px;
 flex: 0 0 30%;
}

.settingsItem:hover {
  background-color: var(--infoColorSelect);
}

.dashboard {
  width: 80%;
  margin-left: 10%;
  background-color: var(--bgColor);
}

.coinInfo {
  width: 100%;
  height: 80vh;
  background-color: var(--red);
}

.coin, .options {
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--infoColor);
  text-align: left;
}

.coin:hover {
  background-color: var(--infoColorSelect);
}

a:hover {
  cursor: pointer;
}
.name {
  flex: 0 0 20%;

}

.options a, .coin a {
  width: 100%;
  text-align: inherit;
  line-height: 48px;
  height: 48px;
  font-size: 20px;
  color:var(--textColor);
  border: solid var(--bgColor);
  border-width: 3px 0 3px 0px;
}


img {
  height: 48px;
  width: 48px;
  border: solid var(--bgColor);
  border-width: 3px 0 3px 0px;
}


.coinInfo img{
  height: 408px;
  width: 480px;
  border: solid var(--bgColor);
  border-width: 3px 0 3px 0px;
}

canvas {
  width: 100%;
  height: 100%;
}

.coinTextWrapper {
  width: 100%;
  max-height: 50%;
}

.coinDescription {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  line-height: 3vw;
  width: 64%;
  height: 20vw;
  border: solid var(--textColor);
  border-width: 3px 3px 3px 3px;
  overflow: scroll;
  font-size: 2vw;
  color: var(--textColor);
  display:inline-block;
}

.coinDescription.small {
  width: 34%;
}


.coinDescription::-webkit-scrollbar {
  display: none;
}

.coinDescription .bg {
  background-image: repeating-linear-gradient(180deg, var(--textColor), var(--textColor) 2px, var(--infoColor) 2px, var(--infoColor) 3vw);
  color: var(--textColor);
}

a:link {
  color: var(--textColor);
}

a:visited {
  color: var(--textColor);
}

.coinWrapper {
  width: 100%;
  max-height: 50%;
}

.sideInfo {
  line-height: 3vw;
  height:496px;
  width: 34%;
  height: 37.6vw;
  padding-bottom: 5px;
  border: solid var(--textColor);
  border-width: 3px 3px 3px 0;
  background-image: repeating-linear-gradient(180deg, var(--textColor), var(--textColor) 2px, var(--infoColor) 2px, var(--infoColor) 3vw);
  color: var(--textColor);
  overflow: hidden  ;
  font-size: 2vw;
}

.full  {
  flex:1;
  border: solid var(--textColor);
  border-width: 3px;
  width: 64%;
  height: 35%;
  color: var(--textColor);
  float: left;
}

.arrow-small  {
  border: solid var(--textColor);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
  text-align:center;
}

.arrow {
  border: solid var(--textColor);
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 10px;
  text-align:center;
  margin-top: 10px;
  margin-left: 19px;
}

.arrow:hover {
}

.next, .prev {
  width: 48px;
  text-align: center;
}

.next:hover, .prev:hover {
   background-color: var(--infoColorSelect);
}

.left {
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
}

.right {
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--infoColor);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.searchContent {
  display: block;
  position: absolute;
  background-color: var(--infoColor);
  width: 0;
  margin-top: 48px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}




p:hover {
  background-color: var(--infoColorSelect);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.loading {
  display: block;
  position: absolute;
     top: 50%;
     left: 50%;
     margin-top: -50px;
     margin-left: -50px;
     width: 100px;
     height: 100px;
     background-image:url('../img/loading.gif');
     background-repeat:no-repeat;
     background-size: 100px;

}
